<div class="container">
  <div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class="btn btn-primary">See transactions</a>
    </div>
    <div class="card-footer text-muted">You have {{ transactionNum }} transactions</div>
  </div>
  <div class="cardList">
    <app-card
    *ngFor="let iterCard of card"
    [card]="iterCard"
    ></app-card>
  </div>
  <a routerLink="/">To home</a>
</div>